@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-slideInLeft {
  animation: slideInLeft 0.4s ease-out forwards;
}
.animate-slideInRight {
  animation: slideInRight 0.4s ease-out forwards;
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in forwards;
}
